html, body {
      padding: 0;
      margin: 0;
	  height:100%;
	  width:100%;
	  
    }
      @font-face {
    font-family: 'HNUL'; /*a name to be used later*/
    src: url('HNUL.otf'); /*URL to font*/
}
          a:link {
    color: #000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #000;
        text-decoration: none;

}

/* mouse over link */
a:hover {
    color: #000;
        text-decoration: none;

}

/* selected link */
a:active {
    color: #000;
        text-decoration: none;

}
 
    body {
      background-color: #ffffff;
      font: normal 10pt/13pt HelveticaNeue, SegoeWP, SegoeUI, Roboto, Sans-serif;
      -webkit-font-smoothing: subpixel-antialiased;
      -webkit-user-select: none;
      -webkit-tap-highlight-color: transparent;
    }
    article {
      padding: 40px 0;
    }
    nav {
        display: hidden;
      height: 65px;
      box-sizing: border-box;
      text-align: center;
      transition: opacity .5s ease-in;
      padding: 0 15px;
      background-color: #ffffff;
      border-bottom: solid 1px #a7a7aa;
      padding: 1px 0;
    }
    nav > h1 {
      text-align: center;
      font: normal 14pt/17pt HelveticaNeue, SegoeWP, SegoeUI, Roboto, Sans-serif;
    }
#menu {
font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: HNUL;
    font-size:25px;
}

#menu li {
    display: block;
    float: left;
    margin: 0;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    font-family: HNUL;
   font-size:25px;
}
      #menu2 {
          font-weight: bold;
    margin: 0;
    padding: 0;
          text-align: center;
          font-family: HNUL;
   font-size:25px;
}
#italic{
  
background: url('images/italic.png');
background-size: 100%;
    width:40px;

    height:40px;
}
#strike{
  
background: url('images/strike.png');
background-size: 100%;
    width:40px;

    height:40px;
}
 #underline{
  
background: url('images/underline.png');
background-size: 100%;
    width:40px;

    height:40px;
}
#menu2 li {
    display: block;
    float: right;
    margin: 0;
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    font-family: HNUL;
   font-size:25px;
}
            #control-menu {
    margin: 0;
    padding: 0;
          text-align: center;
          font-family: HNUL;
   font-size:25px;
}

#control-menu li {
    display: block;
    float: left;
    margin: 0;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    font-family: HNUL;
   font-size:25px;

}

          #menu3 {
              font-weight: bold;
    margin: 0;
    padding: 0;
text-align: center;
              font-family: HNUL;
              font-size:30px;
}


#menu3 li {
    display: block;
    float: left;
    margin: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: HNUL;
   font-size:25px;
}
    h2 {
      font: normal 14pt/17pt HelveticaNeue, SegoeWP, SegoeUI, Roboto, Sans-serif;
      color: #4d4d4d;
      margin: 0 0 20px 15px;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
      #c{
      width: 100%;
      }