@font-face {
    font-family: 'HNUL'; /*a name to be used later*/
    src: url('HNUL.otf'); /*URL to font*/
}

#login{
text-align: center;
}
#accept{
    padding-top:50px;
text-align: center;
}
.loginL{
  
font-family: HNUL;
font-weight: normal;

}
.loginB{
font-weight: normal;
font-family: HNUL;
text-decoration: none;
    font-size: 20px;

margin-top: 20px;
}
/* unvisited link */
a:link {
    color: #000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #000;
        text-decoration: none;

}

/* mouse over link */
a:hover {
    color: #000;
        text-decoration: none;

}

/* selected link */
a:active {
    color: #000;
        text-decoration: none;

}
.loginT{
    text-align: center;
    font-size: 20px;
font-weight: normal;      text-align: center;
      font: normal 14pt/17pt;
            font-family: HNUL;
font-family: HNUL;
    height: 30px;
    width:250px;
    border: 0px solid;
    border-bottom: 1px solid;
    

}
.loginT:focus{
outline:none;
}